* {
    margin: 0;
    padding: 0;
}

@media(min-width:1100px) and (max-width:1600px) {


    .task {
        margin-top: 20px;
        padding: 0 0 0 125px;
        font-weight: bold;
        font: normal normal bold 40px/49px Inter;
    }

    .plus {
        position: relative;
        left: 1093px;
        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);


    }

    .add {
        position: absolute;
        left: 1200px;

        font: normal normal normal 22px/26px Inter;
    }

    .main {

        padding: 70px;
        width: 100%;
        height: 690px;
        margin: 15px;
        margin-left: 0;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        border: 0px solid EDEDED;
        background-image: linear-gradient(rgb(223, 222, 222) 0% 0%,
                white 4% 90%);
        box-sizing: border-box;
    }

    .span {
        text-decoration: line-through;
        color: gray;
    }

    .trp {
        text-decoration: none;

    }

    .paris {
        position: absolute;
        top: 140px;
        left: 135px;
        border: 1px solid #EDEDED;
        background-color: white;
        width: 330px;
        height: 310px;
        border-radius: 4px;
        padding: 10px;

    }

    .todo {
        border: 1px solid #EDEDED;
        background-color: white;
        position: absolute;
        left: 585px;
        top: 116px;
        width: 330px;
        height: 310px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;

    }

    .movie {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 330px;
        height: 310px;
        border-radius: 4px;
        position: absolute;
        left: 1061px;
        top: 115px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;

    }

    .routine {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 330px;
        height: 310px;
        border-radius: 4px;
        position: absolute;
        top: 553px;
        left: 135px;
        padding: 10px;

    }

    .book {

        border: 1px solid #EDEDED;
        background-color: white;
        width: 330px;
        height: 310px;
        border-radius: 4px;
        position: absolute;
        top: 553px;
        left: 600px;
        padding: 10px;


    }

    /* Page2 */


    .blur {
        filter: blur(1px);
    }

    .popup {
        border: 1px solid rgb(187, 184, 184);
        width: 549px;
        height: 211px;
        border-radius: 4px;
        position: relative;
        bottom: 579px;
        left: 474px;
        background-color: white;
        box-shadow: 0 0 0.5em rgb(174 169 169);
    }


    .new {
        padding: 10px;
    }

    .sa {
        position: relative;
        left: 500px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta {
        border: 1px solid;
        border-radius: 4px;
        height: 10px;
        width: 466px;
        padding: 10px;
        margin: 10px;
    }

    #ra {
        border: 1px solid;
        height: 33px;
        width: 132px;
        position: absolute;
        left: 378px;
        background-color: rgb(35 185 231);
        border-radius: 4px;
        font-size: large;
        color: white;
        top: 154px;


    }





    /* page3 */

    .plus1 {
        position: relative;
        left: 790px;

        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);

    }

    .a1 {
        position: absolute;
        left: 900px;

        font: normal normal normal 22px/26px Inter;

    }


    .back {
        margin-right: 10px;
        margin-top: -6px;
        font: normal normal normal 22px/26px Inter;
        position: absolute;
        left: 550px
    }

    .ba1 {
        margin-top: -6px;
        position: absolute;
        left: 510px;
        font-size: 30px;
        color: black;

    }

    .paris1 {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 564px;
        height: 338px;
        font-size: larger;
        border-radius: 4px;
        position: absolute;
        top: 150px;
        left: 468px;
        padding: 10px;
        text-align: center;
        font: normal normal medium 24px/29px Inter;

        text-decoration: none;
    }


    /* page4 */

    .popup1 {
        border: 1px solid rgb(187, 184, 184);
        width: 406px;
        height: 210px;
        border-radius: 4px;
        position: relative;
        bottom: 579px;
        left: 552px;
        background-color: white;
        box-shadow: 0 0 .5em rgb(174, 169, 169);


    }

    .new1 {
        padding: 10px;
    }

    .sa1 {
        position: relative;
        left: 360px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta1 {
        border: 1px solid;
        height: 10px;
        width: 350px;
        padding: 10px;
        margin: 10px;
    }

    #ra1 {
        border: 1px solid;
        height: 33px;
        width: 132px;
        position: absolute;
        left: 245px;
        background-color: rgb(35 185 231);
        border-radius: 3px;
        font-size: large;
        color: white;
        top: 154px;


    }
}

/* ************************************************************************************************************************** */


@media(min-width:720px) and (max-width:1099px) {


    .task {
        margin-top: 10px;
        padding: 0 0 0 85px;
        font-weight: bold;
        font: normal normal bold 40px/49px Inter;
    }

    .plus {
        position: relative;
        left: 120px;
        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);


    }

    .add {
        position: absolute;
        left: 500px;

        font: normal normal normal 22px/26px Inter;
    }

    .main {

        padding: 70px;
        width: 100%;
        height: 690px;
        margin: 15px;
        margin-left: 0;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border: 0px solid EDEDED;
        background-image: linear-gradient(rgb(223, 222, 222) 0% 0%,
                white 4% 90%);
        box-sizing: border-box;
    }

    .span {
        text-decoration: line-through;
        color: gray;
    }

    .trp {
        text-decoration: none;

    }

    .paris {
        position: absolute;
        top: 100px;
        left: 130px;
        border: 1px solid #EDEDED;
        background-color: white;
        width: 254px;
        height: 200px;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;

    }

    .todo {
        border: 1px solid #EDEDED;
        background-color: white;
        position: absolute;
        left: 130px;
        top: 323px;
        width: 243px;
        height: 200px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;
        box-shadow: 2px 2px 2px grey;

    }

    .movie {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 243px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        left: 130px;
        top: 570px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;
        box-shadow: 2px 2px 2px grey;
    }

    .routine {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 250px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        top: 845px;
        left: 133px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;
    }

    .book {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 250px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        top: 1090px;
        left: 133px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;
    }

    /* Page2 */


    .blur {
        filter: blur(2px);
    }

    .popup {
        border: 1px solid rgb(187, 184, 184);
        width: 525px;
        height: 211px;
        border-radius: 4px;
        position: relative;
        bottom: 556px;
        left: 140px;
        background-color: white;
        box-shadow: 0 0 0.5em rgb(174 169 169);
    }


    .new {
        padding: 10px;
    }

    .sa {
        position: relative;
        left: 500px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta {
        border: 1px solid;
        border-radius: 4px;
        height: 10px;
        width: 466px;
        padding: 10px;
        margin: 10px;
    }

    #ra {
        border: 1px solid;
        height: 33px;
        width: 132px;
        position: absolute;
        left: 378px;
        background-color: rgb(35 185 231);
        border-radius: 4px;
        font-size: large;
        color: white;
        top: 154px;


    }





    /* page3 */

    .plus1 {
        position: relative;
        left: 120px;
        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);

    }

    .a1 {
        position: absolute;
        left: 500px;

        font: normal normal normal 22px/26px Inter;

    }


    .back {
        margin-right: 10px;
        margin-top: -6px;
        font: normal normal normal 22px/26px Inter;
        position: absolute;
        left: 182px
    }

    .ba1 {
        margin-top: -6px;
        position: absolute;
        left: 140px;
        font-size: 30px;
        color: black;

    }

    .paris1 {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 500px;
        height: 338px;
        font-size: larger;
        border-radius: 4px;
        position: absolute;
        top: 150px;
        left: 113px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        box-shadow: 2px 2px 2px grey;


    }


    /* page4 */

    .popup1 {
        border: 1px solid rgb(187, 184, 184);
        width: 406px;
        height: 210px;
        border-radius: 4px;
        position: relative;
        bottom: 579px;
        left: 170px;
        background-color: white;
        box-shadow: 0 0 .5em rgb(174, 169, 169);


    }

    .new1 {
        padding: 10px;
    }

    .sa1 {
        position: relative;
        left: 360px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta1 {
        border: 1px solid;
        height: 10px;
        width: 350px;
        padding: 10px;
        margin: 10px;
    }

    #ra1 {
        border: 1px solid;
        height: 33px;
        width: 132px;
        position: absolute;
        left: 245px;
        background-color: rgb(35 185 231);
        border-radius: 3px;
        font-size: large;
        color: white;
        top: 154px;


    }
}


/* ************************************************************************************************************************** */

@media(min-width:220px) and (max-width:340px) {


    .task {
        margin-top: 10px;
        padding: 0 0 0 85px;
        font-weight: bold;
        font: normal normal bold 40px/49px Inter;
    }

    .plus {
        position: relative;
        left: -60px;
        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);


    }

    .add {
        position: absolute;
        left: 75px;

        font: normal normal normal 22px/26px Inter;
    }

    .main {

        padding: 70px;
        width: 100%;
        height: 690px;
        margin: 15px;
        margin-left: 0;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border: 0px solid EDEDED;
        background-image: linear-gradient(rgb(223, 222, 222) 0% 0%,
                white 4% 90%);
        box-sizing: border-box;
    }

    .span {
        text-decoration: line-through;
        color: gray;
    }

    .trp {
        text-decoration: none;

    }

    .paris {
        position: absolute;
        top: 100px;
        left: 34px;
        border: 1px solid #EDEDED;
        background-color: white;
        width: 147px;
        height: 200px;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;

    }

    .todo {
        border: 1px solid #EDEDED;
        background-color: white;
        position: absolute;
        left: 24px;
        top: 323px;
        width: 147px;
        height: 200px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;
        box-shadow: 2px 2px 2px grey;

    }

    .movie {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 147px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        left: 24px;
        top: 570px;
        padding: 10px;
        margin-top: 27px;
        margin-left: 11px;
        box-shadow: 2px 2px 2px grey;
    }

    .routine {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 147px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        top: 845px;
        left: 35px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;
    }

    .book {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 147px;
        height: 200px;
        border-radius: 4px;
        position: absolute;
        top: 1090px;
        left: 35px;
        padding: 10px;
        box-shadow: 2px 2px 2px grey;
    }

    /* Page2 */


    .blur {
        filter: blur(2px);
    }

    .popup {
        border: 1px solid rgb(187, 184, 184);
        width: 211px;
        height: 211px;
        border-radius: 4px;
        position: relative;
        bottom: 556px;
        left: 4px;
        background-color: white;
        box-shadow: 0 0 0.5em rgb(174 169 169);
    }



    .new {
        padding: 10px;
    }

    .sa {
        position: relative;
        left: 180px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta {
        border: 1px solid;
        border-radius: 4px;
        height: 10px;
        width: 155px;
        padding: 10px;
        margin: 10px;
    }

    #ra {
        border: 1px solid;
        height: 33px;
        width: 100px;
        position: absolute;
        left: 108px;
        background-color: rgb(35 185 231);
        border-radius: 4px;
        font-size: large;
        color: white;
        top: 154px;


    }





    /* page3 */

    .plus1 {
        position: relative;
        left: 20px;
        margin-top: -6px;
        font-size: 35px;
        color: rgb(35, 185, 231);

    }

    .a1 {
        position: absolute;
        left: 78px;
        font: normal normal normal 22px/26px Inter;
        margin-top: -29px;

    }


    .back {
        margin-right: 10px;
        margin-top: -32px;
        font: normal normal normal 22px/26px Inter;
        position: absolute;
        left: -2px;
    }

    .ba1 {
        margin-top: -6px;
        position: absolute;
        left: 20px;
        font-size: 30px;
        color: black;

    }

    .paris1 {
        border: 1px solid #EDEDED;
        background-color: white;
        width: 156px;
        height: 232px;
        font-size: larger;
        border-radius: 4px;
        position: absolute;
        top: 150px;
        left: 27px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        box-shadow: 2px 2px 2px grey;


    }


    /* page4 */

    .popup1 {
        border: 1px solid rgb(187, 184, 184);
        width: 207px;
        height: 210px;
        border-radius: 4px;
        position: relative;
        bottom: 579px;
        left: 6px;
        background-color: white;
        box-shadow: 0 0 0.5em rgb(174 169 169);

    }

    .new1 {
        padding: 10px;
    }

    .sa1 {
        position: relative;
        left: 180px;
        top: 15px;
        font-size: x-large;
        color: rgb(181, 174, 174);
    }

    #ta1 {
        border: 1px solid;
        height: 10px;
        width: 149px;
        padding: 10px;
        margin: 10px;
        border-radius: 4px
    }

    #ra1 {
        border: 1px solid;
        height: 33px;
        width: 100px;
        position: absolute;
        left: 100px;
        background-color: rgb(35 185 231);
        border-radius: 3px;
        font-size: large;
        color: white;
        top: 154px;


    }

}